@model List<CORE05.ViewModel.EmployeedetailVM>
@{
    ViewData["Title"] = "Employee Details";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
 
    <div class="row">
        <div class="col-6"><h3>Employee Details</h3></div>
        <div class="col-6"><a asp-controller="Employee" asp-action="Create" class="btn btn-success float-right">Create New Employee</a></div>       
    </div>
   
    @if (Model.Count()>0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead class="bg-dark text-light">
                <tr class="text-center">
                    <th>Employee ID</th>
                    <th>Employee Name</th>
                    <th>Joining Date</th>
                    <th>Gender</th>
                    <th>District</th>
                    <th>Address</th>
                    <th>Active</th>
                    <th>Image</th>
                    <th>Salary</th>
                    <th>Hobbies</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model)
                {
                <tr>
                    <td width="10%">@employee.Employeeid</td>
                    <td width="30%">@employee.Employeename</td>
                    <td width="10%">@employee.Joiningdate.ToString("dd-MMM-yyyy")</td>
                    <td width="20%">@employee.Gender</td>
                    <td width="10%">@employee.District.District</td>
                    <td width="10%">@employee.Address</td>
                    <td width="10%">@employee.Active</td>
                    <td width="10%"><img src="~/ProfileImages/@employee.ProfileImage" class="rounded-circle" width="40" height="40" asp-append-version="true" /></td>
                    <td width="10%">@employee.Salary.ToString("#,##0.00;(#,##0.00); ")</td>
                    <td width="10%">@employee.hobbiesName</td>
                    <td width="20%">
                        <div class="w-100 btn-group" role="group">
                            <a asp-controller="Employee" asp-action="Create" asp-route-EmpId="@employee.Id" class="btn btn-primary mx-1">Update</a>
                            <a asp-controller="Employee" asp-action="Delete" asp-route-EmpId="@employee.Id" class="btn btn-danger mx-1">Delete</a>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    }

</body>
</html>
